<%- include("partials/header") %>

<div class="heading-container">
      <div class="heading">Deck</div>
</div>

<div class="deck-container">
<% deck.forEach(function(card) { %>

      <img class="card-image" src="<%= card.img %>">

<% }); %>
</div>


<%- include("partials/footer") %>