:root {
    --background: rgb(121, 137, 253);
    --light-grey: rgb(232, 232, 232);
}

/* Deck Page */

html {
    background-color: var(--background);
    height:max-content;
}

body {
    background-color: var(--background);
}

.heading-container {
    background-color: var(--background);
    height: 100px;
}

.heading {
    text-align: center;
    padding-top: 33px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    /* background-color: white; */
    /* border-bottom: 2px solid black; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: var(--background);
}

.deck-container {
    background-color: var(--light-grey);
    border-radius: 3px;
    padding: 20px 0px 20px 6.5%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-container {
    margin: 5px 5px;
    border: 1px solid black;
    border-radius: 3px;
}

.card-image {
    width: 300px;
    height: auto;
    margin: 5px;
    border-radius: 13px;
    justify-content: flex-end;
}

.number-display {
    margin-left: 10px;
    font-size: 20px;
}

/* Search Page */

.search-form {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    margin: 20px auto;
    padding: 10px;
}

.margin-chop {
    margin-top: 0px;
}

.top-result-container {
    /* background-color: magenta; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.result-container {
    background-color: var(--light-grey);
    width: 340px;
    /* border: 1px solid black; */
    text-align: center;
    border-radius: 3px;
}

div.result-container form {
    display: inline;
}

.number-of-cards {
    width: 18px;
    transform: translateX(-45px);
}

/* Add Button */
div.result-container form button.btn {
    margin: 10px 10px;
    transform: translateX(-45px);
}

/* Cancel Button */
div.result-container a button {
    margin: 10px 10px;
    transform: translateX(50px);
}