:root {
    --background: rgb(121, 137, 253);
    --light-grey: rgb(232, 232, 232);
}

/* Deck Page */

html {
    background-color: var(--background);
    height:max-content;
}

body {
    background-color: var(--background);
    padding-bottom: 40px;
}

.heading-container {
    background-color: var(--background);
    height: 80px;
    text-align: center;
    margin-bottom: 5px;
}

.heading {
    text-align: center;
    padding-top: 33px;
    line-height: 30px;
    font-size: 38px;
    font-weight: bold;
    color: white;
    /* background-color: white; */
    /* border-bottom: 2px solid black; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.dashboard-container {
    text-align: center;
    height: 45px;
}

.dashboard {
    background-color: white;
    margin: auto;
    padding: 1px 4px;
    font-size: 16px;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: var(--background);
}

.deck-container {
    background-color: var(--light-grey);
    border-radius: 3px;
    padding: 20px 0px 20px 6.5%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-container {
    margin: 5px 5px;
    border: 1px solid black;
    border-radius: 3px;
}

.card-image {
    width: 300px;
    height: auto;
    margin: 5px;
    border-radius: 13px;
    justify-content: flex-end;
}

.number-container {
    margin: 0px 12px 8px 0px;

    font-size: 20px;
}

.number-show {
    margin: 15px 0px 15px 15px;
}

.number-display {
    margin: 0px -2px -10px -5px;
    font-size: 18px;
    width: 18px;
}

.fa-angle-up {
    /* margin-left: 2px; */
    transform: translate(4px,-5px);
    color: black;
}

.fa-angle-down {
    transform: translate(-13px, 7px);
    color: black;
}

.delete-button {
    text-decoration: none;
    font-size: 14px;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px;
    box-shadow: .5px .5px 2px .5px grey;
}

.delete-button:hover {
    color: black;
    border: 1px solid grey;
}

/* Search Page */

.search-form {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    margin: 20px auto;
    padding: 10px;
}

.margin-chop {
    margin-top: 0px;
}

.top-result-container {
    /* background-color: magenta; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.result-container {
    background-color: var(--background);
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

div.result-container form {
    display: inline;
}

/* Number Display */

.number-of-cards {
    width: 18px;
    transform: translateX(-36px);
}

/* Up Down Search Page */

.fa-angle-up.search {
    /* margin-left: 2px; */
    transform: translate(-36px,-5px);
    color: black;
}

.fa-angle-down.search {
    transform: translate(-50px, 7px);
    color: black;
}


/* Add Button */
div.result-container form button.btn {
    margin: 10px 10px;
    transform: translateX(-50px);
}

/* Cancel Button */
div.result-container button {
    margin: 10px 10px;
    transform: translateX(40px);
}

.card-search-container {
    width: 325px;
    background-color: var(--light-grey);
    border: 1px solid black;
    border-radius: 2px;
    margin: 0px 10px;
}